body {
    margin: 0;
}

.barra-navegacion {
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    background-color: #6424ca;
    color: white;
}

.marca {
    font-size: 20px;
    font-weight: bold;
}

.opciones-navegacion {
    display: flex;
    align-items: stretch;
    min-height: 70px;
}

.opcion-nav {
    display: flex;
    align-items: center;

    padding: 0 25px;

    color: white;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    transition: background-color 0.2s;
}

.opcion-nav:hover {
    background-color: #531bae;
}

.opcion-nav.activa {
    background-color: white;
    color: #6424ca;
}

@media (max-width: 650px) {
    .barra-navegacion {
        flex-direction: column;
        padding: 15px;
    }

    .opciones-navegacion {
        width: 100%;
        min-height: auto;
        margin-top: 15px;
    }

    .opcion-nav {
        flex: 1;
        justify-content: center;
        padding: 15px 5px;
        text-align: center;
    }
}