<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clasificar</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/navbar.css') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/classify.css') }}"
    >
</head>

<body>

    {% include "navbar.html" %}

    <main class="contenedor-pagina">

        <div class="contenedor-clasificacion">

            <h1>CLASIFICAR</h1>

            <!-- Aquí pondrás tu formulario de clasificación -->

        </div>

    </main>

</body>

</html>